body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Container {
  display: flex;
  flex-direction: row;
  max-width: 90%;
  margin: auto;
  margin-top: 5%;
  gap: 20px;
}

.Field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.Data {
  display: flex;
  gap: 10px;
}

.User {
  border: solid 2px black;
  padding: 5px;
}

button {
  border: none;
  background: #e3e3e3;
  margin: 0 5px;
}

.img_container {
  max-width: 50%;
}

li {
  list-style-type: none;
  text-align: left;
}

.container2 {
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  width: 75%;
  min-height: 80vh;
  margin: auto;
  padding: 20px;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}
ul {
  display: none;
}

.col-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 24%;
  max-width: 24%;
}
.content {
  border: 2px solid #000;
  position: absolute;
  right: 30px;
  width: 70%;
  height: fit-content;
  border-radius: 3px;
}
h2.box-title {
  margin: 0;
  background: blue;
  color: #fff;
  padding: 15px;
}

button {
  border: 2px solid blue;
  background: none;
  padding: 20px 10px;
  font-size: 16px;
  color: blue;
  border-radius: 3px;
}
button:hover {
  border: 2px solid blue;
  background: blue;
  padding: 20px 10px;
  color: #fff;
  border-radius: 3px;
}

img.img_container2 {
  object-fit: contain;
  width: 100%;
  height: -webkit-fill-available;
}
